{% extends "base.html" %}

{% block content %}
<section class="section">
  <h1 class="title">Prize Draw Admin</h1>
  {% if state == 'DRAW_OPEN_NO_ENTRANTS' or state == 'DRAW_OPEN_WITH_ENTRANTS' %}
    <div class="box" id="end-draw-area">
      <article>
        <p class="subtitle" id="draw-open-status">The prize draw is currently open.</p>
        <button id="end-draw-btn" class="button is-danger">End Prize Draw</button>    
      </article>
    </div>
  {% endif %}
  {% if state == 'DRAW_OPEN_NO_ENTRANTS' or state == 'DRAW_OPEN_WITH_ENTRANTS' or state == 'DRAW_CLOSED_NO_ENTRANTS' or state == 'DRAW_CLOSED_WITH_ENTRANTS' %}
    <div class="box">
      <article>
        {% if state == 'DRAW_OPEN_NO_ENTRANTS' %}
          <p class="subtitle" id="pick-winners-status">The prize draw is currently open, but has no entrants.  Winners can't be picked at this time.</p>
        {% elif state == 'DRAW_OPEN_WITH_ENTRANTS' %}
          <p class="subtitle" id="pick-winners-status">The prize draw is currently open - picking winners will also close the draw.</p>
          <button id="pick-winners-btn" class="button is-danger">Pick Winners</button>    
        {% elif state == 'DRAW_CLOSED_WITH_ENTRANTS' %}
          <p class="subtitle" id="pick-winners-status">The prize draw has closed, it's time to pick the winners.</p>
          <button id="pick-winners-btn" class="button is-primary">Pick Winners</button>    
        {% elif state == 'DRAW_CLOSED_NO_ENTRANTS' %}
          <p class="subtitle" id="pick-winners-status">The prize draw closed with no entrants.</p>
        {% endif %}        
      </article>
    </div>
  {% endif %}
  {% if state == 'DRAW_WON' %}
    <div class="box">
      <article>
        <p class="subtitle">The draw is closed and winners have been drawn.</p>
      </article>
    </div>
  {% endif %}
  {% if state == 'NO_DRAW' or state == 'DRAW_WON' or state == 'DRAW_CLOSED_NO_ENTRANTS' %}
    <div class="box">
      <article>
        <p class="subtitle">Start New Draw</p>
        <div id="prizes">
          <div id="prize-1-field" class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Prize</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control has-icons-left">
                <input id="prize-1-description" class="input prize-description" type="text" placeholder="Prize description...">
                <span class="icon is-small is-left">
                  <i class="fas fa-gift"></i>
                </span>
                </p>
              </div>
              <div class="field">
                <div class="control">
                  <button id="prize-1-btn-add" class="button is-primary">
                    <span class="icon">
                      <i class="fas fa-plus-circle"></i>
                    </span>
                  </button>
                  <button id="prize-1-btn-remove" class="is-hidden button is-danger">
                    <span class="icon">
                      <i class="fas fa-minus-circle"></i>
                    </span>
                  </button>
                </div>  
              </div>
            </div>
          </div>
        </div>
        <div class="level"></div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Duration</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="select">
                <select id="draw-duration">
                  <option value="0">Until closed manually</option>
                  <option value="900">15 minutes</option>
                  <option value="1800">30 minutes</option>
                  <option value="2700">45 minutes</option>
                  <option value="3600">1 hour</option>
                  <option value="4500">1 hour 15 minutes</option>
                  <option value="5400">1 hour 30 minutes</option>
                  <option value="6300">1 hour 45 minutes</option>
                  <option value="7200">2 hours</option>                  
                </select>
              </div>
            </div>
            <!-- This is here just to get the spacing consistent with the prize lines. -->
            <div class="field is-invisible">
              <div class="control">
                <button class="button is-primary">
                  <span class="icon">
                    <i class="fas fa-plus-circle"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div id="prize-error" class="field is-horizontal is-hidden">
          <div class="field-label is-normal">
            <label class="label"></label>
          </div>
          <div class="field-body">
            <div class="field">
              <div id="prize-error-text" class="notification is-danger">
              </div>  
            </div>
            <!-- This is here just to get the spacing consistent with the prize lines. -->
            <div class="field is-invisible">
              <div class="control">
                <button class="button is-primary">
                  <span class="icon">
                    <i class="fas fa-plus-circle"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label"></label>
          </div>
          <div class="field-body">
            <div class="control">
              <button id="open-draw-btn" class="button is-primary">
                Open Draw
              </button>
            </div>
          </div>
        </div>
      </article>
    </div>
  {% endif %}
</section>
<script type="text/javascript" src="{{ url_for('static', filename = 'prizedrawadmin.js') }}"></script>
{% endblock %}